.milkStore--milk {
  border-radius: 0.5rem;
  border: solid 0.1rem var(--dark-grey);
}

.milkStore--milk__image {
  width: 100%;
  min-height: 8rem;
  min-width: 10rem;
  object-fit: scale-down;
  background-color: var(--white);
  padding: 1rem 4rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.milkStore--milk__text {
  background-color: #fff;
  margin-top: -0.5rem;
  padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.milkStore--milk__text h5 {
  font-size: 0.7rem;
  margin: 0.25rem 0.25rem 1.5rem 0rem;
  color: var(--black)
}

.milkStore--milk__text p {
  color: var(--grey);
  font-size: 0.75rem;
}

.milkStore--milk__text span {
  color: var(--gold);
  float: right;
} 
