@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Monda&display=swap');

:root {
  --dark-pink: #c88ca0;
  --light-pink: #fae6e1;
  --white: #f5f5f5;
  --gold: #b9b996;
  --grey: #aaaaaa;
  --black: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Monda', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
